div{
    text-align: center;
}

body{
    background-color: aliceblue;
}

a{
    background-color: #ffaa01;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

a:hover{
    transform: scale(1.2);
}